body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1{
    color: white;
}

.ball{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 15px; /* מוסיף רווח בין הכדורים שיראו את שניהם ברור */
    transition: width 1s, height 1s;

    display: flex;
    justify-content: center; 
    align-items: center;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}